/* Mobile */

/* Responsive adjustments */
@media (max-width: 900px) {
  .logo-container img {
    height: 60px; /* Smaller logo on mobile */
  }

  .floating-menu {
    flex-direction: column; /* Stack menu items vertically on smaller screens */
    padding: 5px 0;
  }

  .floating-menu a {
    font-size: 12px; /* Smaller font size for mobile */
  }

  /* Adjust the top padding of the first section when header changes */
  .section {
    padding-top: 140px; /* Increase padding for mobile if necessary */
  }
  .menu-container,
  .testimonial-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-card,
  .testimonial-card {
    /* Full width cards on smaller screens */
    width: 90%;
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
}

@media (max-width: 768px) {
  .carousel button {
    /* Adjust button sizes for easier interaction on mobile */
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .floating-menu {
    padding: 10px 0;
    display: none;
  }

  .logo-container img {
    height: 50px; /* Adjust based on your logo's size */
    max-width: 300px;
  }

  .floating-menu a {
    margin: 0 10px;
    font-size: 16px;
  }

  .section {
    padding: 40px 20px;
  }

  .home {
    height: auto;
    padding-top: 100px; /* Adjust based on the actual initial height of your header */
  }

  .home-container {
    flex-direction: column;
    gap: 20px;
  }

  .home-container-text,
  .home-container-contact {
    text-align: center;
    max-width: 100%;
  }

  .home-container-contact {
    width: 100%;
  }

  .menu-card {
    width: 250px; /* Width of the cards */
  }
}
